.LineChart{
    width: 500px;
    display:grid  !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: opx;
    border-radius: 10px;
}

.LineChart span{
    font-weight: 700;
    font-size: 1.5em;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(92.85deg,#0f79dc,#ad4fd9);
    -webkit-background-clip: text;

}