.sidebar{
    position: fixed;
    width: 14%;
    height: 95%;
    background-color: #1d1d1d;
    padding-top: 2em;
    margin-top: 1em;
    border-radius: 2em;
    margin-left: 1em;

    
}


.sidebar ul{
    padding-top: 2em;
    text-decoration: none;
    list-style: none;
    color: white;
    
}
.sidebar ul li {
    text-align: left;
    color: white !important;
    margin-top: 2em;
}

.sidebar a {
    text-decoration: none;
    color: white;
}
.sidebar ul li :hover{
    color: blueviolet;
}
.sidebar ul li img{
    width: 1.5em;
    margin-right: 1em;
}